html {
    background: #fafafa;
    font-size: 14px;
}
* {
    box-sizing: border-box;
}
.App {
    display: flex;
    flex-direction: column;
    height: calc(100vh);
}
.Header {
    text-align: center;
    font-size: 2rem;
    padding: 10px;
    text-transform: uppercase;
    font-family: monospace;
    background: black;
    color: #fafafa;
}
.Status {
    padding: 10px;
    display: none;
    flex-direction: column;
    padding-left: 50%;
}
.Sudoku{
    flex: 1;
    padding: 10px;
    display: flex;
    align-items: center;
}
.Container {
    margin: 0px auto;
    display: grid;
    border-right: 4px solid;
    border-bottom: 4px solid;
}
input {
    width: 100%;
    height: 100%;
    font-size: 2rem;
    text-align: center;
    border: 1px dashed #ddd;
    font-family: cursive;
}
input:disabled {
    background: lightyellow;
    color: black;
    font-weight: bold;
    font-family: monospace;
}
.LeftBorder {
    border-left: 4px solid black;
}
.TopBorder {
    border-top: 4px solid black;
}
.Footer{
    text-align: center;
    padding: 10px;
}
.Button {
    font-size: 1.5rem;
    padding: 5px;
}
